# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Virtual environment for backend
/backend/symp-venv/
/backend/SympSolver_ChatBot.egg-info/
/backend/models/llama-2-7b-chat.ggmlv3.q4_0.bin

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Flask server log files (optional)
*.log

# Environment configuration files (e.g., .env)
.env

# Jupyter notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# IDE specific files
.idea/

# Build output directories (if applicable)
.next/

